# Numpy Class 1

In [1]:
a = [1,2,3,4,5,6,7,8,9]

In [2]:
b = []
for num in a:
    b.append(num*2)
    
b

[2, 4, 6, 8, 10, 12, 14, 16, 18]

# The NumPy ndarray: A Multidimensional Array Object

In [2]:
import numpy as np

In [3]:
a = np.array([1,2,3,4,5,6])

In [4]:
a

array([1, 2, 3, 4, 5, 6])

In [5]:
type(a)

numpy.ndarray

In [6]:
2*a

array([ 2,  4,  6,  8, 10, 12])

In [7]:
a+a

array([ 2,  4,  6,  8, 10, 12])

In [8]:
a*a

array([ 1,  4,  9, 16, 25, 36])

In [9]:
a.shape

(6,)

In [10]:
a.dtype

dtype('int32')

# Creating ndarrays

In [11]:
data = np.random.randn(2,3)

In [12]:
data

array([[-0.7533427 , -0.0447909 , -1.70512978],
       [-0.03999747, -0.30410052, -0.78233832]])

In [13]:
data = np.random.randn(2,3)

In [14]:
data

array([[ 0.92626872,  0.94879472, -0.59771889],
       [ 0.64928785, -0.72767105,  1.80057141]])

In [15]:
data2 = np.arange(10)

In [16]:
data2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
data2.ndim

1

In [18]:
data.ndim

2

In [19]:
data.shape

(2, 3)

In [20]:
data2.shape

(10,)

In [21]:
b = np.array([[100]])

In [22]:
b.ndim

2

In [23]:
b.shape

(1, 1)

In [24]:
_3d = np.array([[[1,2,3],[4,5,6],[7,8,9]]])

In [25]:
_3d.ndim

3

In [26]:
_3d

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [27]:
threeD = np.arange(64).reshape(4,4,4)

In [28]:
threeD

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31]],

       [[32, 33, 34, 35],
        [36, 37, 38, 39],
        [40, 41, 42, 43],
        [44, 45, 46, 47]],

       [[48, 49, 50, 51],
        [52, 53, 54, 55],
        [56, 57, 58, 59],
        [60, 61, 62, 63]]])

In [29]:
threeD2 = np.arange(60).reshape(5,3,4)

In [30]:
threeD2

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[24, 25, 26, 27],
        [28, 29, 30, 31],
        [32, 33, 34, 35]],

       [[36, 37, 38, 39],
        [40, 41, 42, 43],
        [44, 45, 46, 47]],

       [[48, 49, 50, 51],
        [52, 53, 54, 55],
        [56, 57, 58, 59]]])

In [31]:
threeD3 = np.arange(30).reshape(2,5,3)

In [32]:
threeD3

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11],
        [12, 13, 14]],

       [[15, 16, 17],
        [18, 19, 20],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]]])

In [33]:
threeD.ndim

3

In [34]:
np.ones((10,10))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [35]:
np.ones((2,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [36]:
np.zeros((4,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [37]:
np.empty((3,3))

array([[0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 6.67976753e-321],
       [8.04236405e-312, 8.04236405e-312, 8.05652056e-312]])

In [38]:
np.ones((2,2))*2

array([[2., 2.],
       [2., 2.]])

In [39]:
np.empty(4)

array([2., 2., 2., 2.])

In [40]:
ba = np.full((3,3),2)

In [41]:
ba

array([[2, 2, 2],
       [2, 2, 2],
       [2, 2, 2]])

In [42]:
ja = np.ones_like(ba)

In [43]:
ja

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

# Data Types For ndarrays

In [44]:
a = np.array([33,44,55])

In [45]:
a.dtype

dtype('int32')

In [46]:
a = np.array([33,44,55], dtype = 'float32')

In [47]:
a

array([33., 44., 55.], dtype=float32)

In [48]:
a = np.array([33,44,55], dtype = np.float32)

In [49]:
a

array([33., 44., 55.], dtype=float32)

In [50]:
b = np.asarray(a,"int32")

In [51]:
b

array([33, 44, 55])

In [52]:
b.dtype

dtype('int32')

# Arithmetic With NumPy Arrays

In [53]:
m1 = np.arange(12).reshape(4,3)
m2 = np.array([[1,2,3],[4,5,6],[7,8,9],[9,8,7]])

In [54]:
m1.shape == m2.shape

True

In [55]:
m1.ndim

2

In [56]:
m1.ndim

2

In [57]:
m1

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [58]:
m2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [9, 8, 7]])

In [59]:
m1-m2

array([[-1, -1, -1],
       [-1, -1, -1],
       [-1, -1, -1],
       [ 0,  2,  4]])

In [60]:
m1+m2

array([[ 1,  3,  5],
       [ 7,  9, 11],
       [13, 15, 17],
       [18, 18, 18]])

In [61]:
m1*m2      #'*' means mirror multiplication

array([[ 0,  2,  6],
       [12, 20, 30],
       [42, 56, 72],
       [81, 80, 77]])

In [62]:
m1/m2

array([[0.        , 0.5       , 0.66666667],
       [0.75      , 0.8       , 0.83333333],
       [0.85714286, 0.875     , 0.88888889],
       [1.        , 1.25      , 1.57142857]])

In [63]:
m1.shape

(4, 3)

In [64]:
m2.shape

(4, 3)

In [65]:
m1@m2     #'@' means matrix multiplication

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 4 is different from 3)

In [66]:
m3 = m2.reshape(3,4)

In [67]:
m3.shape

(3, 4)

In [68]:
#Method 1 of matrix multiplication
print(m1.shape)
print(m3.shape)
m1@m3

(4, 3)
(3, 4)

array([[ 23,  24,  23,  22],
       [ 68,  75,  77,  79],
       [113, 126, 131, 136],
       [158, 177, 185, 193]])

In [69]:
#Method 2 of matrix multiplication
np.dot(m1,m3)

array([[ 23,  24,  23,  22],
       [ 68,  75,  77,  79],
       [113, 126, 131, 136],
       [158, 177, 185, 193]])

In [70]:
#Method 3 of matrix multiplication
m1.dot(m3)

array([[ 23,  24,  23,  22],
       [ 68,  75,  77,  79],
       [113, 126, 131, 136],
       [158, 177, 185, 193]])

# Basic Indexing And Slicing

In [71]:
alist = [1,2,3,4,5,6,7,8]

In [72]:
alist[4]     #indexing

5

In [73]:
type(alist[2:4])

list

In [74]:
td = np.arange(36).reshape(6,6)

In [75]:
td

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [76]:
#td[r,c]
#td[--, --]
a = td[2:4, 2:4]

In [77]:
a

array([[14, 15],
       [20, 21]])

In [78]:
td[2][3]

15

In [79]:
td

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])